PUBLIC_API_URL=https://api.fraichetizimin.com
WEB_APP_URL=https://fraichetizimin.com
WHATSAPP_PHONE=529861000000

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=

STORAGE_ENDPOINT=
STORAGE_REGION=auto
STORAGE_BUCKET=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_PUBLIC_URL=
